<mat-toolbar color="primary" style="height:40px;position:sticky;top:0;background-color:#273238;z-index:10">
  <mat-toolbar-row style="color:#cfd8dc;">
    <span><img src="../../assets/images/TUNE_VisualMark_White.png" height="30px" width="30px" style="position:relative;margin-right:10px;top:5px;"></span>
    <span>HasOffers Support</span>
    <span class="spacer"></span>
    <a routerLink="/home" routerLinkActive="active" class="link"><mat-icon class="icon">home</mat-icon></a>
    <a routerLink="/settings" routerLinkActive="active" class="link"><mat-icon class="icon">settings</mat-icon></a>
    <a routerLink="/" routerLinkActive="active" class="link" (click)="logout()"><mat-icon class="icon"><i class="material-icons">transfer_within_a_station</i></mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
