<mat-card class="mainComponentsBorder textCenter" fxLayout="column" fxLayoutGap="20px" style="height: 100%;">
  <div fxLayout="row" fxLayoutGap="20px">
    <img src="https://res.cloudinary.com/manor-assignment/image/upload/w_50,h_30/v1532603079/support-dashboard/livechat-logo.png" alt="Live Chat Software">
    <span>Chats</span>
  </div>

  <div
    fxLayout="row wrap" 
    fxLayoutGap="20px"
    fxLayoutAlign="space-between"
  >
    <app-chats-total fxFlex="20%"></app-chats-total>
    <app-chats-satisfaction fxFlex="20%"></app-chats-satisfaction>
    <app-chats-online fxFlex="20%"></app-chats-online>
    <app-chats-queued fxFlex="20%"></app-chats-queued>
  </div>

</mat-card>
