<mat-card class="mainComponentsBorder textCenter">
  <img src="https://cdn.livechatinc.com/website/media/img/resources/logos/livechat_96x53.png" alt="Live Chat Software">
  <div id="wave" style="float:right;" matTooltip="Statistics" matTooltipPosition="below">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  <div class="flexRow spaceAround headerText">
    <app-chats-total></app-chats-total>
    <app-chats-satisfaction></app-chats-satisfaction>
    <app-chats-online></app-chats-online>
    <app-chats-queued></app-chats-queued>
  </div>
</mat-card>
