<mat-card class="scheduleCard mainComponentsBorder noPadding" style="height: 100%;">
  <div class="scheduleCardHead" fxLayoutAlign="center center" class="cardHeader">

    <div class="textCenter" fxLayout="row" fxLayoutAlign="space-around" fxLayoutAlign="center center" class="cardHeader">

      <div class="cardHeader" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <img src="https://res.cloudinary.com/manor-assignment/image/upload/h_30,w_40/v1533468826/support-dashboard/images_2FiconCallback.png"
          style="position:relative; left: 35px;"
          height="35px" 
          width="40px" 
          alt="Zendesk Callbacks">
      </div>

      <div style="flex:1;">
        <button mat-icon-button [matMenuTriggerFor]="menu" style="float:right;">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openAddCallbackDialog()">
            <mat-icon>add</mat-icon>
            <span>New</span>
          </button>
  
          <button mat-menu-item (click)="openCallabckHistoryDialog()">
            <mat-icon>cloud_download</mat-icon>
            <span>History</span>
          </button>
  
        </mat-menu>
      </div>

    </div>
  </div>
  <div class="matCardPadding">
    <mat-list *ngIf="allCallbacks">
      <mat-list-item class="callbacksList" *ngFor="let callback of upcomingCallbacks" >
        <img *ngIf="callback.agent" matListAvatar src={{callback.agent.picture}} alt="...">
        <img *ngIf="!callback.agent" matListAvatar src="../../assets/images/unassigned.jpg" alt="...">
        <h3 matLine>{{callback.username}} ({{callback.networkId}})</h3>
        <!-- <h3 matLine>{{callback.dateTime}}</h3> -->
        <h3 matLine>{{callback.dateTimeUnixTimestamp * 1000 | date : 'fullDate'}}, {{callback.dateTimeUnixTimestamp * 1000 | date : 'shortTime'}}</h3>
        <a href="https://{{callback.zendeskLink}}" target="_blank" mat-raised-button color="accent"># {{callback.ticketId}}</a>
        <div class="menuIcon" style="flex:1;">

            <button mat-icon-button [matMenuTriggerFor]="menu" style="float:right;">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">

      
              <button mat-menu-item [matMenuTriggerFor]="agentsMenu">
                <mat-icon>user</mat-icon>
                <span>Assign</span>
              </button>

              <mat-menu #agentsMenu="matMenu">
                <button mat-menu-item *ngFor="let agent of agents" (click)="assignAgentToCallback(agent, callback.ticketId)">
                  {{agent.name}}
                </button>
              </mat-menu>

              <button mat-menu-item (click)="updateCallback(callback.id, 'Done')">
                <mat-icon>done</mat-icon>
                <span>Mark as done</span>
              </button>
      
              <button mat-menu-item (click)="deleteCallback(callback.ticketId)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Delete</span>
              </button>
      
            </mat-menu>
          </div>

          
        </mat-list-item>
      </mat-list>
    </div>
    
    <div *ngIf="allCallbacks">
      <div *ngIf="!upcomingCallbacks.length" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="70px" style="height: 80%;">
        <mat-icon class="secondaryColor" style="font-size: 60px">thumb_up</mat-icon>
        <div class="secondaryColor">There are no upcoming callbacks at the moment</div>
      </div>
    </div>

</mat-card>