<input mat-input #key (keyup)="0">
<mat-list *ngIf="data.allCallbacks">
  <ng-container *ngFor="let callback of data.allCallbacks">
    <mat-list-item class="callbacksList" *ngIf="callback.networkId.includes(key.value) || callback.ticketId.includes(key.value)" >
      <img *ngIf="callback.agent" matListAvatar src={{callback.agent.picture}} alt="...">
      <img *ngIf="!callback.agent" matListAvatar src="../../assets/images/unassigned.jpg" alt="...">
      <h3 matLine>{{callback.username}} ({{callback.networkId}})</h3>
      <!-- <h3 matLine>{{callback.dateTime}}</h3> -->
      <h3 matLine>{{callback.dateTimeUnixTimestamp * 1000 | date : 'fullDate'}}, {{callback.dateTimeUnixTimestamp * 1000 | date : 'HH'}}:{{callback.dateTimeUnixTimestamp * 1000 | date : 'mm'}}</h3>
      <a href="https://{{callback.zendeskLink}}" target="_blank" mat-raised-button color="accent"># {{callback.ticketId}}</a>
    </mat-list-item>
  </ng-container>
    
</mat-list>