<div *ngIf="!isEditMode" [@bounceOutUp]="bounceOutUp">
  <div style="position:sticky; top:0px; display: block; z-index:10; background-color: whitesmoke; padding: 20px; opacity: 0.9">
    <form>
      <mat-form-field>
        <input matInput placeholder="Search" #key (keyup)="0">
          <mat-icon matSuffix matTooltip="Search callbacks by network ID, ticket ID, email or user name">info</mat-icon>
      </mat-form-field>
    </form>
  </div>
  
  <div>
    <mat-list *ngIf="data.allCallbacks">
      <ng-container *ngFor="let callback of data.allCallbacks">
        <mat-list-item 
          class="callbacksList" 
          *ngIf="callback.networkId.includes(key.value) || callback.ticketId.includes(key.value) || callback.username.includes(key.value) || callback.email.includes(key.value)"
        >
        <!-- Icons to be displayed alongside each callback -->
          <mat-icon *ngIf="callback.status === 'done'" mat-list-icon>done_all</mat-icon>
          <mat-icon *ngIf="callback.status === 'canceled'" mat-list-icon>delete_outline</mat-icon>
          <mat-icon *ngIf="callback.status === 'pending'" mat-list-icon>alarm</mat-icon>
          <mat-icon *ngIf="callback.status === 'Open'" mat-list-icon>alarm</mat-icon>
          <img *ngIf="callback.agent" matListAvatar src={{callback.agent.picture}} alt="...">
          <img *ngIf="!callback.agent" matListAvatar src="../../assets/images/unassigned.jpg" alt="...">
          <h3 matLine style="text-transform:capitalize">{{callback.username}}</h3>
          <h3 style="color:gray" matLine>{{callback.networkId}}</h3>
          <h3 matLine>{{callback.dateTimeUnixTimestamp * 1000 | date : 'fullDate'}}, {{callback.dateTimeUnixTimestamp * 1000 | date : 'HH'}}:{{callback.dateTimeUnixTimestamp * 1000 | date : 'mm'}}</h3>
          <button mat-icon-button (click)="enterEditMode(callback)"><mat-icon color="primary">edit</mat-icon></button>
          <a href="https://{{callback.zendeskLink}}" target="_blank" mat-raised-button color="accent"># {{callback.ticketId}}</a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>
        
    </mat-list>
  </div>
</div>

<!-- Shown when Edit Mode is True -->
<div *ngIf="isEditMode" [@bounceOutUp]="bounceOutUp" style="padding:15px;" fxLayout="column" fxLayoutGap="20px">

  <div>
    <mat-icon (click)="exitEditMode()">arrow_back</mat-icon>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px">      
    <p>
      <mat-form-field appearance="outline">
        <input name="username" matInput placeholder="" [(ngModel)]="selectedCallback.username">
        <mat-hint>Username</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <input name="networkId" matInput placeholder="" [(ngModel)]="selectedCallback.networkId">
        <mat-hint>Network ID</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <input name="date" matInput placeholder="" [(ngModel)]="selectedCallback.dateTime">
        <mat-hint>Date</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <input name="assignee" matInput placeholder="" [(ngModel)]="selectedCallback.assignee">
        <mat-hint>Assignee</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <input name="ticketId" matInput placeholder="" [(ngModel)]="selectedCallback.ticketId">
        <mat-hint>Ticket ID</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <input name="zendeskLink" matInput placeholder="" [(ngModel)]="selectedCallback.zendeskLink">
        <mat-hint>Zendesk Link</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <input name="status" matInput placeholder="" [(ngModel)]="selectedCallback.status">
        <mat-hint>Status</mat-hint>
      </mat-form-field>
    </p>
  
  </div>

  <div style="width:100%">
    <button mat-raised-button (click)="updateCallback()" color="primary" style="width:100%;">SAVE</button>
  </div>
</div>